{:paths ["src" "resources"]
 :deps {org.babashka/cli {:mvn/version "0.8.66"}
        org.babashka/sci {:mvn/version "0.10.49"}
        io.github.squint-cljs/squint
        {:git/sha "1a2f3b08f526d5ea0ec540434071f52955ea5cd3"}
        #_{:local/root "/Users/borkdude/dev/squint"}}
 :aliases
 ;; .work/cljs-patch holds a build-time copy of cljs/core.cljs with a patched
 ;; PROTOCOL_SENTINEL (tasks/ensure-patched-core!); as an :extra-path it precedes the
 ;; ClojureScript jar on the classpath, so shadow compiles the patched core.
 {:cljs {:extra-paths ["test" ".work/cljs-patch"]
         :extra-deps {thheller/shadow-cljs {:mvn/version "3.3.4"}
                      funcool/promesa {:mvn/version "11.0.678"}
                      babashka/process {:mvn/version "0.6.23"}}}
  :test ;; added by neil
  {:extra-paths ["test"]
   :extra-deps {io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.1" :git/sha "dfb30dd" :git/url "https://github.com/cognitect-labs/test-runner"}
                babashka/fs {:mvn/version "0.5.27"}}
   :main-opts ["-m" "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test}}
 }
