{:vars #{report
         successful_QMARK_
         empty_env
         get_current_env
         set_env_BANG_
         clear_env_BANG_
         update_current_env_BANG_
         inc_report_counter_BANG_
         testing_contexts_str
         testing_vars_str
         test_var
         compose_fixtures
         join_fixtures
         get_each_fixtures
         set_each_fixtures_BANG_
         get_once_fixtures
         set_once_fixtures_BANG_
         run_tests
         async_QMARK_
         wrap_async}}
