;; (sort (map munge (keys (ns-publics 'cljs.core))))
{:vars #{IndexedSeq
         LazySeq
         PROTOCOL_SENTINEL
         _
         _EQ_
         _EQ__GT_
         _GT_
         _LT_
         _LT__EQ_
         _STAR_
         _STAR_print_fn_STAR_
         _SLASH_
         _PLUS_
         __GT_IndexedSeq
         __GT_LazySeq
         __destructure_map
         _nth
         aclone
         add_watch
         aget
         alength
         alter_meta_BANG_
         ancestors
         any_QMARK_
         apply
         apply_to
         array
         array_QMARK_
         array_chunk
         array_index_of
         array_iter
         array_list
         array_map
         array_seq
         aset
         assoc
         assoc_BANG_
         assoc_in
         associative_QMARK_
         atom
         bit_and
         bit_and_not
         bit_clear
         bit_count
         bit_flip
         bit_not
         bit_or
         bit_set
         bit_shift_left
         bit_shift_right
         bit_shift_right_zero_fill
         bit_test
         bit_xor
         boolean$
         boolean_QMARK_
         booleans
         bounded_count
         butlast
         byte$
         bytes
         cat
         char$
         char_QMARK_
         chars
         chunk
         chunk_append
         chunk_buffer
         chunk_cons
         chunk_first
         chunk_next
         chunk_rest
         chunked_seq
         chunked_seq_QMARK_
         clj__GT_js
         clone
         cloneable_QMARK_
         coll_QMARK_
         comp
         comparator
         compare
         compare_and_set_BANG_
         complement
         completing
         concat
         conj
         conj_BANG_
         cons
         constantly
         contains_QMARK_
         count
         counted_QMARK_
         cycle
         dec
         dedupe
         default_dispatch_val
         delay_QMARK_
         demunge
         _deref
         deref
         derive
         descendants
         disj
         disj_BANG_
         dispatch_fn
         dissoc
         dissoc_BANG_
         distinct
         distinct_QMARK_
         divide
         doall
         dorun
         double$
         double_QMARK_
         double_array
         doubles
         drop
         drop_last
         drop_while
         eduction
         empty
         empty_QMARK_
         enable_console_print_BANG_
         ensure_reduced
         equiv_map
         es6_entries_iterator
         es6_iterator
         es6_iterator_seq
         es6_set_entries_iterator
         even_QMARK_
         every_QMARK_
         every_pred
         ex_cause
         ex_data
         ex_info
         ex_message
         false_QMARK_
         ffirst
         filter
         filterv
         find
         first
         flatten
         float$
         float_QMARK_
         floats
         flush
         fn_QMARK_
         fnext
         fnil
         force
         frequencies
         gensym
         gensym_counter
         get
         get_in
         get_method
         get_validator
         group_by
         halt_when
         hash
         hash_combine
         hash_keyword
         hash_map
         hash_ordered_coll
         hash_set
         hash_string
         hash_string_STAR_
         hash_unordered_coll
         ident_QMARK_
         identical_QMARK_
         identity
         ifind_QMARK_
         ifn_QMARK_
         imul
         inc
         indexed_QMARK_
         infinite_QMARK_
         inst_QMARK_
         inst_ms
         inst_ms_STAR_
         instance_QMARK_
         int$
         int_QMARK_
         int_array
         int_rotate_left
         integer_QMARK_
         interleave
         interpose
         into
         into_array
         ints
         is_proto_
         isa_QMARK_
         iter
         iterable_QMARK_
         iterate
         js__GT_clj
         js_delete
         js_invoke
         js_iterable_QMARK_
         js_keys
         js_mod
         js_obj
         js_reserved
         js_symbol_QMARK_
         juxt
         keep
         keep_indexed
         key
         key__GT_js
         key_test
         keys
         keyword
         keyword_QMARK_
         keyword_identical_QMARK_
         last
         list
         list_QMARK_
         list_STAR_
         long$
         long_array
         longs
         make_array
         make_hierarchy
         map
         map_QMARK_
         map_entry_QMARK_
         map_indexed
         mapcat
         mapv
         max
         max_key
         memoize
         merge
         merge_with
         meta
         methods$
         min
         min_key
         missing_protocol
         mix_collection_hash
         mk_bound_fn
         mod
         munge
         name
         namespace
         nat_int_QMARK_
         native_satisfies_QMARK_
         neg_QMARK_
         neg_int_QMARK_
         newline
         next
         nfirst
         nil_QMARK_
         nil_iter
         nnext
         not
         not_EQ_
         not_any_QMARK_
         not_empty
         not_every_QMARK_
         not_native
         nth
         nthnext
         nthrest
         number_QMARK_
         obj_map
         object_QMARK_
         object_array
         odd_QMARK_
         parents
         partial
         partition
         partition_all
         partition_by
         peek
         persistent_BANG_
         persistent_array_map_seq
         pop
         pop_BANG_
         pos_QMARK_
         pos_int_QMARK_
         pr
         pr_seq_writer
         pr_sequential_writer
         pr_str
         pr_str_STAR_
         pr_str_with_opts
         prefer_method
         prefers
         prim_seq
         print
         print_map
         print_meta_QMARK_
         print_prefix_map
         print_str
         println
         println_str
         prn
         prn_str
         prn_str_with_opts
         qualified_ident_QMARK_
         qualified_keyword_QMARK_
         qualified_symbol_QMARK_
         quot
         rand
         rand_int
         rand_nth
         random_sample
         random_uuid
         range
         ranged_iterator
         re_find
         re_matches
         re_pattern
         re_seq
         realized_QMARK_
         record_QMARK_
         reduce
         reduce_kv
         reduceable_QMARK_
         reduced
         reduced_QMARK_
         reductions
         regexp_QMARK_
         rem
         remove
         remove_all_methods
         remove_method
         remove_tap
         remove_watch
         repeat
         repeatedly
         replace
         replicate
         _reset_BANG_
         reset_BANG_
         reset_meta_BANG_
         reset_vals_BANG_
         rest
         reverse
         reversible_QMARK_
         rseq
         rsubseq
         run_BANG_
         second
         select_keys
         seq
         seq_QMARK_
         seq_iter
         seqable_QMARK_
         sequence
         sequential_QMARK_
         set
         set_QMARK_
         set_from_indexed_seq
         set_print_err_fn_BANG_
         set_print_fn_BANG_
         set_validator_BANG_
         short$
         shorts
         shuffle
         simple_ident_QMARK_
         simple_keyword_QMARK_
         simple_symbol_QMARK_
         some
         some_QMARK_
         some_fn
         sort
         sort_by
         sorted_QMARK_
         sorted_map
         sorted_map_by
         sorted_set
         sorted_set_by
         special_symbol_QMARK_
         split_at
         split_with
         spread
         str
         string_QMARK_
         string_hash_cache
         string_hash_cache_count
         string_iter
         string_print
         subs
         subseq
         subvec
         _swap_BANG_
         swap_BANG_
         swap_vals_BANG_
         symbol
         symbol_QMARK_
         symbol_identical_QMARK_
         system_time
         tagged_literal
         tagged_literal_QMARK_
         take
         take_last
         take_nth
         take_while
         tap_GT_
         test
         to_array
         to_array_2d
         trampoline
         transduce
         transformer_iterator
         transient$
         tree_seq
         true_QMARK_
         truth_
         type
         type__GT_str
         unchecked_add
         unchecked_add_int
         unchecked_byte
         unchecked_char
         unchecked_dec
         unchecked_dec_int
         unchecked_divide_int
         unchecked_double
         unchecked_float
         unchecked_inc
         unchecked_inc_int
         unchecked_int
         unchecked_long
         unchecked_multiply
         unchecked_multiply_int
         unchecked_negate
         unchecked_negate_int
         unchecked_remainder_int
         unchecked_short
         unchecked_subtract
         unchecked_subtract_int
         undefined_QMARK_
         underive
         unreduced
         unsigned_bit_shift_right
         update
         update_in
         uri_QMARK_
         uuid
         uuid_QMARK_
         val
         vals
         var_QMARK_
         vary_meta
         vec
         vector
         vector_QMARK_
         volatile_BANG_
         volatile_QMARK_
         vreset_BANG_
         with_meta
         write_all
         zero_QMARK_
         zipmap

         ;; 1.11
         update_keys
         update_vals
         parse_boolean
         parse_double
         parse_long
         parse_uuid
         NaN_QMARK_
         iteration
         abs
         }}
