{:vars #{any
         any_printable
         any_printable_ascii
         bind
         boolean
         byte
         bytes
         char
         char_alpha
         char_alpha_numeric
         char_alphanumeric
         char_ascii
         choose
         double
         double_STAR_
         elements
         fmap
         frequency
         generate
         hash_map
         int
         keyword
         keyword_ns
         large_integer
         large_integer_STAR_
         let
         list
         list_distinct
         list_distinct_by
         map
         nat
         no_shrink
         not_empty
         one_of
         recursive_gen
         resize
         return
         sample
         scale
         set
         shuffle
         simple_type
         simple_type_printable
         sized
         small_integer
         string
         string_alpha_numeric
         string_alphanumeric
         string_ascii
         such_that
         symbol
         symbol_ns
         tuple
         uuid
         vector
         vector_distinct
         vector_distinct_by}}
